* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #f5e1dc, #b0dbf3);
    color: #333;
}

h3, p {
    padding: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background: transparent;
}

header .logo img {
    padding-top: 20px;
    height: 150px;
    max-height: 150px;
}

header .right-section {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #007bff;
}

.search-container {
    position: relative;
}

.search-container input {
    padding: 10px 15px 10px 35px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}

.search-container i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #ccc;
}

.cart-button {
    background-color: #006677;
    color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cart-button:hover {
    background-color: rgb(0, 31, 122);
}

.hero {
    background: url(https://images.pexels.com/photos/2331069/pexels-photo-2331069.jpeg?auto=compress&cs=tinysrgb&w=600);
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.hero p {
    font-size: 18px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.carousel-container {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding-bottom: 15px;
    padding-top: 15px;
}

.carousel-track {
    display: flex;
    gap: 20px; 
    transition: transform 0.5s ease-in-out;
}

.carousel-card {
    flex: 1 0 calc(20% - 20px); 
    max-width: calc(20% - 20px); 
    margin: 0; 
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    opacity: 0; 
    animation: fadeInUp 0.8s forwards; 
}

.carousel-card img {
    width: 100%; 
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    animation: imageFadeInScale 1s ease-out forwards; 
}

@keyframes fadeInUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes imageFadeInScale {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.buy-button {
    background-color: #006677;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.buy-button:hover {
    background-color: #004d5e;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.buy-button:active {
    background-color: #003a47;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
}

@media (max-width: 1024px) {
    .carousel-card {
        flex: 1 0 calc(33.33% - 20px);
        max-width: calc(33.33% - 20px);
    }
}

@media (max-width: 768px) {
    .carousel-card {
        flex: 1 0 calc(50% - 20px); 
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .carousel-card {
        flex: 1 0 calc(100% - 20px); 
        max-width: calc(100% - 20px);
    }
}

#about{
    color: #003a47;
}

.dropdown {
    position: relative; 
  }
  
  
  .dropdown > a {
    text-decoration: none; 
    color: #333; 
    font-weight: bold; 
    position: relative; 
    cursor: pointer; 
  }
  
  .dropdown-menu {
    position: absolute; 
    flex-direction: column; 
    background: linear-gradient(to right, #ffffff, #f1f1f1); 
    padding: 10px 0; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    border-radius: 8px; 
    z-index: 10; 
    min-width: 50px; 
    opacity: 0; 
    transform: translateY(-10px); 
    transition: opacity 0.3s ease, transform 0.3s ease; 
  }
  
 
  .dropdown:hover .dropdown-menu {
    display: flex; 
    opacity: 0.8; 
    transform: translateY(0); 
  }
  
  .dropdown-menu li {
    padding: 5px 5px;
    transition: background-color 0.3s ease, transform 0.2s ease; 
  }
  
  .dropdown-menu li a {
    text-decoration: none; 
    color: #333; 
    font-weight: bold; 
    font-size: 13px;
    display: block; 
  }
  
  
  .dropdown-menu li:hover a {
    color: #006677; 
  }
.hero {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('assets/hero.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 80px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .hero .btn-primary {
    background-color: #e67e22;
    color: #fff;
    padding: 10px 25px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .hero .btn-primary:hover {
    background-color: #d35400;
  }
  
  .mission-vision {
    text-align: center;
    margin: 50px 0;
  }
  
  .mission-vision h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #555;
  }
  
  .mission-vision .cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 20px);
  }
  
  .card h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #333;
  }
  
  .card p {
    font-size: 1rem;
    color: #666;
  }
  
  .features {
    background-color: #fff;
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  
  .features h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    color: #555;
  }
  
  .features-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .feature-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 1 1 calc(33% - 20px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .feature-item i {
    font-size: 2.5rem;
    color: #e67e22;
    margin-bottom: 15px;
  }
  
  .feature-item h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .feature-item p {
    font-size: 1rem;
    color: #666;
  }
  
  .testimonials {
    text-align: center;
    margin: 50px 0;
  }
  
  .testimonials h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #555;
  }
  
  .testimonial-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .testimonial {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    flex: 1 1 calc(33% - 20px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .testimonial p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
    font-style: italic;
  }
  
  .testimonial h4 {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
  }
  
  .footer-links {
    display: flex;
    margin: 20px;
    gap: 200px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    justify-content: center;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .social-media a {
    color: #fff;
    font-size: 1.2rem;
    margin: 0 10px;
    transition: color 0.3s;
  }
  
  .social-media a:hover {
    color: #e67e22;
  }
  
  .footer p {
    font-size: 0.9rem;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
  }